@import './colorPalette.css';
@import './spacing.css';
@import './scaling.css';

body {
    color: #000000;
    background-color: #f0f0f0;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: left;

    /* Text sharpening properties */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: never;
    text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
    color: #333;
    font-size: 2rem;
    line-height: 1.2;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

p, li {
    color: #333;
    font-size: 1rem;
    line-height: 1.5;
    text-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
}

a {
    color: #17a2b8;
    text-decoration: underline;
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

a:hover {
    color: #4ed4e9;
    text-decoration: none;
}

a:visited {
    color: #551A8B;
    text-decoration: none;
}

a:focus {
    outline: 0px dashed #ffc107;
    outline-offset: 0px;
}

ul, ol {
    padding-left: 0;
    margin-left: 1.272em;
    list-style-position: inside;
}

li {
    color: #333;
    font-family: 'Inter', Arial, sans-serif;
    font-size: 1rem;
    margin-bottom: 0.486em;
}

.column {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 1.272em;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.1);
    border-radius: 0;
}

img {
    max-width: 100%;
    height: auto;
    border: 0.0618em solid var(--automatic);
    margin: 1.272em 0;
}

button {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 0.786em 1.272em;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #808080;
}

html {
    scroll-behavior: smooth;
}

@media (max-width: 48em) { /* 768px equivalent */
    .column {
        width: 100%;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.5rem;
        margin-bottom: 0.486em;
    }
}

@media (max-width: 30em) { /* 480px equivalent */
    body {
        font-size: 0.875rem;
    }

    h1, h2, h3, h4, h5, h6 {
        font-size: 1.272rem;
    }
}

/* ::-webkit-scrollbar {
    width: 1rem;
} */

/* ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 0.625rem;
} */

/* ::-webkit-scrollbar-thumb:hover {
    background: #555;
} */